<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <style>
        .resultado {
            text-align: center;
            margin: 50px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body class="<%= isErro ? 'erro' : 'sucesso' %> <%= area < 20 ? 'pequeno' : 'grande' %>">
    <%- include ('cabecalho.ejs') %>

    <div class="resultado">
        <% if (isErro) { %>
            <h1>Erro no Cálculo</h1>
            <p>Comprimento do lado inválido. Certifique-se de fornecer um número válido.</p>
        <% } else { %>
            <h1>Resultado do Cálculo</h1>
            <p>Nome do Letreiro: <%= nome %></p>
            <p>Lado: <%= lado %> metros</p>
            <p>Área: <%= area.toFixed(2) %> metros quadrados</p>
            <% if (area < 20) { %>
                <p>É um letreiro pequeno.</p>
            <% } else { %>
                <p>É um letreiro grande.</p>
            <% } %>
            <p><strong>Explicação da Fórmula:</strong></p>
            <p>A fórmula para calcular a área de um letreiro publicitário em forma de pentágono é a seguinte:</p>
            <p>Área = (5/4) * lado^2 * (1 / tan(π/5))</p>
            <p>Onde:</p>
            <p>"Área" é a área do letreiro publicitário.</p>
            <p>"lado" é o comprimento de um dos lados do letreiro.</p>
            <p>"tan(π/5)" é a tangente do ângulo π/5, que representa um dos ângulos internos do pentágono regular.</p>
            <h1>Desenvolvido por Garrido</h1>
        <% } %>
    </div>
</body>
</html>