<!DOCTYPE html>
<html lang="pt-BR">

<html>
<head>
    <title>Placas</title>
</head>
<body>
    <%- include('cabecalho.ejs') %>
    <h1>Placas</h1>
    <% if (messages && messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>
    <ul>
        <% placas.forEach(function(placa) { %>
            <li>
                <h2><%= placa.nome %></h2>
                <p>Área: <%= placa.area %></p>
                <p><%= placa.area > 20 ? 'Grande' : 'Pequena' %></p>
                <button onclick="location.href='/placas/editar/<%= placa.id %>'">Editar</button>
                <form action="/placas/<%= placa.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Excluir">
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>